.info-wrapper {
  position: relative;
}

/* LEFT ICON */
.left-icon {
  position: absolute;
  right: 100%;
  margin-right: 6px;

  /*width: 150px;*/

  top: 50%;
  transform: translateY(-50%);
}



.status-grid-container {

  position: absolute;
  left: 100%;
  margin-left: 6px;

  top: 0%;
}

.pip-grid-container {
    position: absolute;
    bottom: 100%;
    left: 0%;

}